body{
    background-color: black;
}
h1{
    color: rgb(0, 8, 8);
    background-color: beige;
    text-align: center;
}
tr , td{
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    color: rgb(98, 0, 255);
}